#virt
.envrc
venv/
.venv/
env
.env
.env/
venv.bak/
env.bak/
ENV/

#tmp
.tmp/*

#poetry
poetry.toml

#tmp
keys/*
logs/*
data/*
config/*

#python
__pycache__/
*.pyc
*.pyo
*.pyd
# pyenv
.python-version

#opencode
.opencode
add-context*

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json
djsfx.py
local.json

# Local files that shouldn't be committed
qa_report.md
