#keys
.env

#virt
.envrc
venv/
.venv/
env
.env/
venv.bak/
env.bak/

#tmp
.tmp/*

#poetry
poetry.toml

#tmp
keys/*
logs/*
data/*
config/*

#python
__pycache__/
*.pyc
*.pyo
*.pyd

#opencode
.opencode
add-context*
